// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* START_HIGHLIGHT */
.store {
  h1 {               //heading
    margin: 0;
    padding-bottom: 0.5em;
    font:  300% sans-serif;
    color: #226;
	//float:right;

	//position: absolute;
	//right: 20px;
	//align: right;
    border-bottom: 3px dotted #77d;
  }

  /* An entry in the store catalog */
  .entry {
    overflow: auto;
	border-style:solid;
	//border-color:red;
	border-radius: 8px;
    margin-top: 3em;
	//    margin-bottom: 0em;

    //border-bottom: 1px dotted #77d;
    min-height: 150px;
	width: 300px;
    margin-left: 0.5em;
	float: left;
	

    img {
      width: 100px;
	      margin-top: 1em;
     // margin-right: 1em;
	      margin-left: 0.5em;
      margin-bottom: 5px;
      position: absolute;
    }

    h3 {
      font-size: 120%;
      font-family: sans-serif;
	      margin-left: 7em;
      margin-top: 0;
      margin-bottom: 2px;
      color: #227;
    }

    p, div.price_line {
      margin-left: 8.5em;
	    background-color: #f0f0f0;
  	border-radius: 8px;
      font-family: sans-serif;

      margin-top: 0.5em; 
      margin-bottom: 0.8em;
   // min-height: 100px;
	  float: left;
    
	form, div {
	 display: inline;
	  }
	}

    .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
	  color: red;
    }
  }
}
/* END_HIGHLIGHT */